.vscode/
*.swp
.git/
nachos/code/bin/*.o
nachos/code/test/*.o
nachos/code/test/*.coff
nachos/code/threads/*.o
nachos/code/threads/*.s
nachos/code/userprog/*.o
nachos/code/userprog/nachos
nachos/code/threads/nachos
mips-i386-xgcc/bin/*
nachos/code/bin/coff2noff
nachos/code/test/forkjoin
nachos/code/test/forkjoin_hard
nachos/code/test/halt
nachos/code/test/matmult
nachos/code/test/printtest
nachos/code/test/shell
nachos/code/test/shmtest
nachos/code/test/shmtest1
nachos/code/test/sort
nachos/code/test/testexec
nachos/code/test/testloop
nachos/code/test/testloop1
nachos/code/test/testloop2
nachos/code/test/testloop3
nachos/code/test/testloop4
nachos/code/test/testloop5
nachos/code/test/testlooplong
nachos/code/test/testregPA
nachos/code/test/testyield
nachos/code/test/vectorsum
nachos/code/test/vmtest1
nachos/code/test/vmtest2
nachos/code/bin/Makefile
nachos/code/bin/coff.h
nachos/code/bin/coff2flat.c
nachos/code/bin/coff2noff.c
nachos/code/bin/d.c
nachos/code/bin/disasm.c
nachos/code/bin/encode.h
nachos/code/bin/execute.c
nachos/code/bin/halt
nachos/code/bin/instr.h
nachos/code/bin/int.h
nachos/code/bin/main.c
nachos/code/bin/noff.h
nachos/code/bin/opstrings.c
nachos/code/bin/out.c
nachos/code/bin/system.c
nachos/code/test/Makefile
nachos/code/threads/Makefile
nachos/code/userprog/Makefile
mips-i386-xgcc/bin/ar
mips-i386-xgcc/bin/as
mips-i386-xgcc/bin/cpp
mips-i386-xgcc/bin/gcc
mips-i386-xgcc/bin/ld
mips-i386-xgcc/bin/mips-addr2line
mips-i386-xgcc/bin/mips-ar
mips-i386-xgcc/bin/mips-as
mips-i386-xgcc/bin/mips-c++filt
mips-i386-xgcc/bin/mips-cpp
mips-i386-xgcc/bin/mips-gcc
mips-i386-xgcc/bin/mips-gccbug
mips-i386-xgcc/bin/mips-gcov
mips-i386-xgcc/bin/mips-ld
mips-i386-xgcc/bin/mips-nm
mips-i386-xgcc/bin/mips-objcopy
mips-i386-xgcc/bin/mips-objdump
mips-i386-xgcc/bin/mips-ranlib
mips-i386-xgcc/bin/mips-readelf
mips-i386-xgcc/bin/mips-size
mips-i386-xgcc/bin/mips-strings
mips-i386-xgcc/bin/mips-strip
mips-i386-xgcc/lib/gcc-lib/mips-dec-ultrix42/3.2.3/cc1
mips-i386-xgcc/lib/gcc-lib/mips-dec-ultrix42/3.2.3/collect2
mips-i386-xgcc/lib/gcc-lib/mips-dec-ultrix42/3.2.3/cpp0
mips-i386-xgcc/lib/gcc-lib/mips-dec-ultrix42/3.2.3/libgcc.a
mips-i386-xgcc/lib/gcc-lib/mips-dec-ultrix42/3.2.3/specs
mips-i386-xgcc/lib/gcc-lib/mips-dec-ultrix42/3.2.3/tradcpp0

